<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Create your Own Sundae!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/icecream.js"></script>
</head>

 <style>
        .jumbotron {
            background-color: rgb(255, 226, 132);
        }
		.card {
			background-color: white;
		}
</style>

<body>
	<div class="container">

		<div class="jumbotron">
			<div class="text-center">
				<img src="../../public/assets/img/icecream.png" alt="ice cream sundae" align="middle"
				 width="500">
			</div>
			<hr>

			<h1 class="text-center">Eat-Dat-Sundae!</h1>
			<br> {{{ body }}}
		</div>
	</div>

</body>

</html>