<h1>Ice Cream Sundae</h1>

<h2>Ice Cream that has not been devoured:</h2>

<ul>
  {{#each icecream}}
    {{#unless devoured}}
      {{> icecream/sundae devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Ice Cream that has been devoured:</h2>

<ul>
  {{#each icecream}}
    {{#if devoured}}
      {{> icecream/sundae devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Sundae</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ic">Sundae Name:</label>
    <input type="text" id="ic" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Needs to be eaten
  </div>

  <button type="submit">Add Sundae</button>
</form>
